body{
    background-color: salmon;
   
}
#start{padding-left: 50%;
font-size: x-large;




}
#question{
    font-size:35px;
    color: chartreuse;
    padding-left: 50%;
border-bottom-width: medium;
padding-bottom: 70px;
}