body{
    background-image: url("../css/quiz.jpg");
    background-color: lightsteelblue;
    position: relative;
   
}
#start{
    size:35x;
    
    color: ivory;
    padding-left: 50%;
font-size: 35px; 
}


#timer{
font-size: 45px;

}
#timeLeft{
    font-size:45px;


}


#question{
    font-size:35px;
    color: white;
    
border-bottom-width: medium;
padding-bottom: 70px;
}



#score{
    color: whitesmoke;
    font-size: 55px;
}